<h1>New todo list</h1>

    <div class="title ">
    </div>
  <div class="submit">
  </div>
<%= form_for(@todo_list) do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field(:title, class: 'form-control') %>
  </div>
  <%= f.submit 'Save' %>
<% end %>
