<% if @todo_list.present? %>
  <%= link_to 'Create new task', new_todo_list_task_path(todo_list_id: @todo_list.id), class: 'btn btn-primary' %>
  <div>
    <h2>
      <%= @todo_list.title %>
    </h2>
    <ul class="list-group">
      <% @todo_list.tasks&.each do |task| %>
        <li class="list-group-item">
          <%= task.description %>
          <div>
            <small>
              Expires at: <%= task.expires_at %>
            </small>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
